<h2>Chat</h2>
<hr>

<div class="app-mensajes" id="app-message">
    <div *ngFor="let chat of chatService.chats" [ngClass]="{ 'text-right': chatService.userLocal.userId == chat.userId }">
        <span class="badge" [ngClass]="{ 'badge-primary': chatService.userLocal.userId == chat.userId, 'badge-success': chatService.userLocal.userId != chat.userId}">
            {{ chat.name }}
        </span>
        <p>
            {{ chat.message }}
        </p>
    </div>

</div>
<input class="mt-3 form-control" type="text" name="message" [(ngModel)]="message" placeholder="Enviar mensaje" (keyup.enter)="sendMessage()">